<% for column in Chart.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @chart.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @chart %> |
<%= link_to 'Back', :action => 'list' %>
