<% for column in Id.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @id.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @id %> |
<%= link_to 'Back', :action => 'list' %>
