<% for column in AccTrans.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @acc_trans.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @acc_trans %> |
<%= link_to 'Back', :action => 'list' %>
